body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .board {
    display: flex;
    justify-content: space-between;
  }
  
  .backlog, .sprint, .progress {
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
  }
  
  .backlog h2, .sprint h2, .progress h2 {
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }
  
  .backlog ul, .sprint ul, .progress ul {
    list-style-type: none;
    padding: 0;
  }
  
  .backlog ul li, .sprint ul li, .progress ul li {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .backlog ul li:hover, .sprint ul li:hover, .progress ul li:hover {
    background-color: #eaeaea;
  }
  
  .controls {
    margin-top: 20px;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #013013;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #00b30f;
  }
  
  .task {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  

  .name {
    color: #e90e0e;
  }

  .footer {
    text-align: center;
    background-color: #686767;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 3vh;
  }
  

  .link-name {
    text-decoration: none;
    text-decoration-line: none;
  }

  @media only screen and (max-width: 600px) {
    .container {
      padding: 10px;
    }
    .board {
      flex-direction: column; 
    }
    .backlog, .sprint, .progress {
      width: 100%; 
      margin-right: 0; 
    }
  }